* {
  color: aliceblue;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  font-weight: 500;
}

a:hover {
  color: #23d2ff;
}

body {
  background-image: url('../img/bg.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: absolute;
  background-color: #545454;
}